target/
examples/*/Cargo.lock
examples/*/src-tauri/Cargo.lock
examples/*/dist/
examples/*/.idea
examples/*/*.redb
examples/*/*/*.redb


/profile.json.gz
/crates/rpstate/*.profraw

*.snap.new

/mutants.out
/mutants.out.old
/.cache/
/.idea/
/.claude/
