target/
examples/*/Cargo.lock
crates/adapters/amethystate-reactor/Cargo.lock
examples/*/.idea
examples/*/*.redb
examples/*/*/*.redb


/profile.json.gz
/crates/rpstate/*.profraw

*.snap.new

/mutants.out
/mutants.out.old
/.cache/
/.idea/
/.claude/
